.main {
    margin-inline: auto;
    max-width: 1150px;
    width: 90%;
}

.title {
    font-size: 2rem;
    margin-bottom: 2rem;
    text-transform: capitalize;
}

/* ブログレイアウト */
.list {
    display: grid;
    gap: 3em 1em;
    overflow: hidden;
    transition: transfrom 0.2s;
}

/* 各記事 */
.item {
    border: 1px solid #ccc;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    gap: 1rem;;
    font-size: var(--font-size-basic);
    list-style-type: none;
    padding: 1.5em;
}

.item:hover {
    /* transform: translateY(-5px); */
}

/* リンク */
.link {
    display: flex;
    flex-direction: column;
    height: 100%;
}

/* アイキャッチ画像 */
.imageWrapper {
    aspect-ratio: 16 / 9;
    background-color: #e5e7eb; /* 画像が読み込まれる前のグレー背景 */
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    width: 100%;
}
.image {
    object-fit: cover;
    transform: scale(1);
    transition: transform 0.3s ease-in-out;
    height: 100%;
    width: 100%;
}
.noImage {
    max-width: 50%;
}
.image:hover {
    transform: scale(1.05);
}

/* ブログタイトル */
.postTitle {
    font-size: 1.2rem;
    margin-block: .6em .25em;
}

/* 抜粋 */
.excerpt {
    line-height: 2;
}

/* 投稿データ */
.postData {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: .7em;
    margin-top: 2em;
    flex: 1;
}
/* カテゴリータグ */
.category {
    background-color: var(--text-color);
    border-radius: 100vmax;
    color: var(--background);
    display: inline-block;
    font-weight: bold;
    margin-top: auto;
    line-height: 2;
    padding: 0 1em;
}
/* 投稿日 */
.date {
    color: var(--main-color);
    line-height: 1;
    margin-block: auto .3em;
}

/* キーワードハイライト用（蛍光ペン風） */
.highlight {
    background: linear-gradient(transparent 60%, var(--highlight-color) 60%); /* 下半分を黄色にする */
    color: var(--text-color);
    padding: 0 2px;
    font-weight: bold;
}

/* 検索状態エリア */
.searchResult {
    margin-bottom: 30px;
    padding-bottom: 15px;
    border-bottom: 1px solid var(--text-color);
}

/* 現在の表示件数 */
.count {
    font-size: 14px;
    opacity: 0.8;
    margin: 5px 0;
}
.clearButton {
    display: block;
    margin-block: 1em;
}

/* ページネーション */
.pagination {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 4em;
    position: relative;
    padding-block: 3em;
}
.pagination > span {
    display: block;
    text-align: center;
}
.pagination > span em {
    font-size: 1.5em;
    font-style: normal;
}

.pagination a {
	color: var(--main-color);
	display: flex;
	align-items: center;
	margin-top: 1em;
	text-align: center;
	transition: .1s padding-inline ease-in-out;
	padding-inline: 1.1em;
	position: relative;
}
.pagination .prevLink a::before,
.pagination .nextLink a::after {
	content: '';
	background-color: var(--text-color);
	letter-spacing: 0;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	height: .6em;
	width: .4em;
	z-index: -1;
}
.pagination .prevLink a::before {
	clip-path: polygon(100% 100%, 100% 0, 0 50%);
	left: 0;
}
.pagination .nextLink a {
    justify-content: flex-end;
}
.pagination a .en {
    display: none;
}
.pagination .nextLink a::after {
	clip-path: polygon(0 0, 0% 100%, 100% 50%);
	right: 0;
}
@media screen and (min-width: 1025px) {
    .pagination a:hover {
        padding-inline: 2em;
        text-decoration: none;
    }
    .pagination .prevLink a:hover::before {
        animation: scaleChangePrev .7s forwards;
    }
    .pagination .nextLink a:hover::after {
        animation: scaleChangeNext .7s forwards;
    }
}
.pagination .pageNumber {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
@keyframes scaleChangePrev {
	0% {
		border-radius: 0;
		clip-path: polygon(100% 100%, 100% 0, 0 50%);
	}
	15% {
		clip-path: polygon(100% 100%, 100% 0, 0 50%);
		transform: translate(-2em, -50%);
		height: 8px;
		width: 100%;
	}
	30% {
		border-radius: 0;
		width: calc(100% + 1em);
	}
	70% {
		clip-path: fill-box;
		height: 100%;
		width: 100%;
	}
	100% {
		border-radius: 100vmax;
		clip-path: fill-box;
		height: 100%;
		width: 100%;
	}
}
@keyframes scaleChangeNext {
	0% {
		border-radius: 0;
		clip-path: polygon(0 0, 0% 100%, 100% 50%);
	}
	15% {
		clip-path: polygon(0 0, 0% 100%, 100% 50%);
		transform: translate(2em, -50%);
		height: 8px;
		width: 100%;
	}
	30% {
		border-radius: 0;
		width: calc(100% + 1em);
	}
	70% {
		clip-path: fill-box;
		height: 100%;
		width: 100%;
	}
	100% {
		border-radius: 100vmax;
		clip-path: fill-box;
		height: 100%;
		width: 100%;
	}
}

/* 該当なし専用 */
.noResult {
    padding: 40px 20px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    border: 2px dashed #ccc;
    font-size: 16px;
}

@media screen and (min-width: 1441px) {
    .list {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media screen and (min-width: 961px) and (max-width: 1440px) {
    .list {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (min-width: 641px) and (max-width: 960px) {
    .list {
        gap: 2em 1em;
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 640px) {
    .list {
        gap: 2em 0;
        grid-template-columns: repeat(1, 1fr);
    }
}
