.list {
    display: flex;
    flex-wrap: wrap;
    gap: .5em;
}

.item {
    list-style-type: none;    
}

.link {
    background-color: var(--text-color);
    border-radius: 100vmax;
    color: var(--background);
    display: inline-block;
    font-weight: 500;
    font-size: var(--font-size-small);
    line-height: 2;
    padding: 0 1em;
}